<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>BB7.png</key>
		<dict>
			<key>x</key>
			<integer>593</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>BB8.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>BB9.png</key>
		<dict>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>BB10.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>57</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>BB11.png</key>
		<dict>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>57</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>BB12.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>57</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>BB13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>57</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>BB14.png</key>
		<dict>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>YB7.png</key>
		<dict>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>YB8.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>YB9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>YB10.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>YB11.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>YB12.png</key>
		<dict>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>YB13.png</key>
		<dict>
			<key>x</key>
			<integer>593</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>YB14.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>147</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
	</dict>
</dict>
</plist>